body{margin:0;background-color: rgb(223, 224, 231);}
.player {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.icon-small{background-image: url(icon_512.png);height:1.2em;width:1.2em;display:inline-block;background-size: contain;position:relative;transform: translateY(18%);}
.icon-large{background-image: url(icon.png);height:3.5vw;width:3.5vw;display:inline-block;background-size: contain;position:relative;transform: translateY(18%);}
.badge{
    font-family: SourceSansPro-Bold;
    color:black;
    text-align:center;
    font-size:1.7em;
}
.badge * {margin:0;display:inline-block;}
.playerbadgewrap{padding:0.75em;padding-bottom:1em;padding-top:0.1em;background-color:rgba(0,0,0,0.4);bottom:0.5%;right:0;position:absolute;}
.playerbadgewrap .badge{color:white !important;}

h1 {
    font-family: SourceSansPro-Bold;
    text-align:center;
}

h2 {
    font-family: SourceSansPro-Bold;
    color:black;
    text-align:center;
    font-size:2.1em;
}

p {
    font-family: SourceSansPro;
    color:black;
    text-align:center;
}

a {
    font-family: SourceSansPro;
    color:black;
    text-decoration:underline;
}
a:hover{text-decoration-style: double;}

hr{
    background-color:black;
    height:0.5em;
}

footer {
    position:relative;
    background-color: rgb(184, 184, 184);
    width:100%;
    display:grid;
    grid-template-columns: 25% 41% 33%;
    padding-top:0.75em;
    padding-bottom:0.75em;
    bottom:0;
    margin-top:5vh;
}

footer p {
    font-size: 0.85em;
}

footer a {
    text-decoration: underline;
    text-decoration-style:dotted;
    color:black;
}

footer a:hover {
    text-decoration-style:solid;
    color:blue;
}

footer img {
    width:15%;
}

/* NO SCRIPT & SCREEN SIZE WARNING */
noscript, #compatibility-warn {
    display: block;
    position:fixed;
    width:100%;
    height:100%;
    z-index:999;
    top:0;
    left:0;
    background-color: white;
}

.noscript-container, .compatibilty-cont {
    display:flex;
    position:absolute;
    text-align:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1em;
    overflow:scroll;
    min-height:400px;
}

@media only screen and (max-width:1300px) {
    .icon-large{width:4vw;height:4vw;}
    .icon-small{width:2vw;height:2vw;}
    .badge{font-size:1.4em;}
    footer img {width:25%;}
}
@media only screen and (max-width:1000px) {
    .icon-large{width:4.5vw;height:4.5vw;}
    .icon-small{width:2.15vw;height:2.15vw;}
    .badge{font-size:1.15em;}
    footer{grid-template-columns: 42% 38% 20%;}
    footer p{font-size: 0.7em;}
    footer img {width:48%;}
}
@media only screen and (max-width:700px) {
    footer img {width:65%;}
    .icon-large{width:7.5vw;height:7.5vw;}
    .icon-small{width:3.75vw;height:3.75vw;}
}

/* FONTS */
@font-face {
    font-family: SourceSansPro;
    src:url(SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: RobotoMono;
    src:url(RobotoMono-Variable.ttf);
}